/* Width of 100pz, height of 100px*/


h1{
  text-align: center;
}
td{
  height: 100px;
  width: 100px;

}

table{
  margin: auto;
}

.vertical{
  border-left: black 1px solid;
  border-right: black 1px solid;
}

.horizontal{
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

button{
height: 98px;
width: 98px;
}
